consult a dietologist page TBD

<h2>Loop</h2>
<ul>
    <% drinks.forEach(function(drink) { %>
        <li><%= drink.name %> - <%= drink.drunkness %></li>
    <% }); %>
</ul>

<h2>Loop</h2>
<ul>
    <% daily_menus.forEach(function(menu) { %>
        <li><%= menu.monday.name %> - <%= menu.monday.description %> - <img src=<%=menu.monday.img %>></li>
    <% }); %>
</ul>